
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.flex-main[data-v-c5e702f9]{display:flex;align-items:center;flex-wrap:wrap}.flex-main .main-box[data-v-c5e702f9]{background-color:#f5f7fa;padding:12px;border-radius:12px;display:flex;gap:10px}.flex-main .main-box img[data-v-c5e702f9]{width:100px;height:100px;border-radius:12px}
